@model string

<div asp-validation-summary="All" class="container">
    <form asp-action="Create" method="post">
        <div class="dws-input">
            <input type="text" name="name" class="form-control" placeholder="New Role"/>
        </div>
        <button type="submit" class="dws-submit">Add</button>
    </form>
</div>