@model IEnumerable<SignalChat.Models.User>
    <h2>Users List</h2>
    <table class="table">
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    <a class="btn5" asp-action="Edit" asp-route-userid="@user.Id">Roles</a>
                </td>
            </tr>
        }
    </table>