@{
    ViewData["Title"] = "Home Page";
}

<div class="chat-body">
    <div class="message">
        <header>Yaroslav</header>
        <p>Some sort of message</p>
        <footer>16:00</footer>
    </div>
</div>
<div class="chat-input">
    <input type="text" />
    <button>Send</button>
</div>
