@model SignalChat.ViewModels.CreateUserViewModel 
<form asp-action = "Create" asp-controller = "Users" >
<div asp-validation-summary="All" class="container">
<div class="dws-input">
    <input type="text" asp-for="UserName" class="form-control" placeholder="Username"/>
</div>
<div class="dws-input">
    <input type="password" asp-for="Password" class="form-control"  placeholder="Password"/>
</div>
    <input type="submit" value="Add" class="dws-submit" />
</div>
</form>