@model IEnumerable<SignalChat.Models.User>

<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <button type="submit" class="btn4">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

<div style="margin-left: auto; margin-right: auto; margin-top: 10px">
    @Html.ActionLink("Add User", "Create", "Users", htmlAttributes: new { @class = "btn5" })
</div>
