@model IEnumerable<Chat>

<div class="side-menu">

    @foreach (var chat in Model)
    {
        @Html.ActionLink(@chat.Name ?? "Unknown", "Chat", "Home", routeValues: new { id = chat.Id }, htmlAttributes: new { @class = "room-button" });
    }

    <a class="room-button" id="create-room-btn">
        <strong>+</strong>
    </a> @*make action link*@
</div>